@model MurderSuspect

@if(Model == null)
 {
    <h1>No suspects in list</h1>
 }
 else
 {
    <div>
        <h3>@Model.Name</h3>
        <h5>@Model.Description</h5>
        <a asp-controller="Home" asp-action="DeleteSuspect" asp-route-id="@Model.ID">Delete</a>
    </div>
