@model MurderSuspect

@if (Model == null)
{
    <h1>No suspects in list</h1>
}
else
{
    <div>
        <h2 style="color:#7b4f30">@Model.Name</h2>
        <h5 style="color: #c89875">@Model.Description</h5>
        <a asp-controller="Home" asp-action="DeleteSuspect" asp-route-id="@Model.ID">Delete</a>
    </div>
}
