@model IEnumerable<MurderSuspect>



@if (Model == null)
{
                <h1>There are no suspects</h1>
                <div><a asp-controller="Home" asp-action="AddSuspect">Add Suspect</a></div>
}
else
{
    <div><a asp-controller="Home" asp-action="AddSuspect">Add Suspect</a></div>
    <div class="row">
        @foreach (MurderSuspect suspect in Model)
                {
                    <partial name="_SuspectPartialView.cshtml" model="@suspect"/>
                }
    </div>
}
